<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="WebServiceExample.Properties.Settings.FBFeedsConnectionString" connectionString="Data Source=10.1.1.1;Initial Catalog=FBFeeds;User ID=sa;Password=Passw0rd3" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>

    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows"></authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime maxRequestLength="8192" />
  </system.web>

  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="163840000" />
      </webServices>
    </scripting>
  </system.web.extensions>-->

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="DrumbiWebServiceBehavior" name="WebServiceExample.Service">
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange">
          <identity>
            <dns value="http://10.1.2.214" />
          </identity>
        </endpoint>

        <endpoint address="rest" behaviorConfiguration="clientrestBehavior"
          binding="webHttpBinding" bindingConfiguration="webclientHttpBindingConfig"
          name="webHttp" contract="WebServiceExample.IService">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/example" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DrumbiWebServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="23:59:59" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="200" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="clientrestBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="Infinite"
                 sendTimeout="00:30:00"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="clientLargeMessage">
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport maxBufferSize="2147483647" maxBufferPoolSize="2147483647" manualAddressing="true" />
        </binding>
      </customBinding>

      <webHttpBinding>
        <binding name="webclientHttpBindingConfig"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 receiveTimeout="Infinite"
                 sendTimeout="00:30:00"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647">
          <readerQuotas
            maxDepth="2147483647"
            maxStringContentLength="2147483647"
            maxArrayLength="2147483646"
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
          <!--<security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="string" />
          </security>-->

        </binding>
      </webHttpBinding>

    </bindings>

    <client>
      <endpoint address="http://localhost/example/basic" binding="basicHttpBinding"
        bindingConfiguration="basicHttpBindingConfig" contract="WebServiceExample.IService"
        name="clientBasic">

      </endpoint>

      <endpoint address="http://localhost/example/rest" behaviorConfiguration="clientrestBehavior"
        binding="webHttpBinding" bindingConfiguration="webclientHttpBindingConfig"
        contract="WebServiceExample.IService" name="webHttp">

      </endpoint>
    </client>

  </system.serviceModel>

  <system.webServer>
    <urlCompression doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
